.flex {
    display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;    
}

.justify-content-between {
	justify-content: space-between;    
}

@media( min-width: 576px ) {
	.justify-content-sm-center {
		justify-content: center;  
	}
}
